name: Build course

on:
  push:
    branches:
    - master
 
jobs:
  build:
    name: Generate HTML files
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    -name: Set up graphviz
      uses: kamiazya/setup-graphviz@v1
    - name: Build with Rake
      run: |
        gem install bundler rake
        bundle install --jobs 4 --retry 3
        rake
    - name: Build an artifact with HTML files
      uses: actions/upload-artifact@v1
      with:
        name: l1-cours
        path: html/
